
body {
  background-color: white;
  color: black;
  background-color: aqua;
}

header {
  background-color: rgb(9, 11, 143);
  color: white;
  font-size: 2em;
  font-family: Impact;
  font-weight: bold;
  padding:15px;
  margin: 0;
  vertical-align: middle; 
  height: 130px;


}

header img {
  width: 170px;
  height: 130px;
  float:left;
  display: inline-block;
  
}



header > h1 {
  padding:0;
  margin:15px;
  width: calc( 100% - 200px);
  text-align: center;
  display: inline-block;
  
}

main {
  color: black;
  width: 80%;
  font-size: large;
  margin: auto;
}

nav {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 70px;
}

nav a {
  color: white;
  text-decoration: underline;
}

nav > section {
  margin:15px;
  width: 30%;
  min-width: 100px;
  height: 150px;
  text-align: center;
  vertical-align: middle;
  color: white;
  background-color:rgb(9, 11, 143);
  margin-bottom: 70px;
}


footer {
  margin-top: 100px;
  height: 100px;
background-color: rgb(9, 11, 143);
}

footer > table{
  margin-left:550px;
  
}

footer table a{
	text-decoration: none;
	color:black;
}
